{% extends 'base.html' %}
{% block title %}
Todo Details
{% endblock title %}
{% block content %}
<main>
    <div>
        <h1>{{ task_name }}</h1>
        <table>


            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>

                <tbody>
                    {% for task in task_name.items.all %}
                    <tr>

                        <td><a href="{% url 'todo_list_list' %}">{{ task.task }}</td>
                        <td>{{ task.due_date }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</main>
{% endblock content %}
